.info {
    width: 100%;
    height: min-content;
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    padding: 0px;
}

.ptt_count {
    font-size: 150%;
    color: white;
    margin: 2%;
    display: inline-block;
    white-space: nowrap;
    min-width: min-content;
}

.ptt_income {
    font-size: 150%;
    color: white;
    margin: 2%;
    display: inline-block;
    white-space: nowrap;
    min-width: min-content;
}


.announcements {
    color: white;
    margin: 2%;
    height: min-content;
}

.reset_btn {
    width: min-content;
    white-space: nowrap;
    margin: 1%;
    margin-left: auto;
    bottom: 0px;
    padding: 2px;
    border-radius: 3px;

    font-size: 12px;
    font-weight: bolder;
    color: #ffffff;
    background-color: #f69311;
    box-shadow: 3px 3px 3px #db4f0e;
}

@keyframes press_reset_btn {
    0% {
        transform: scale(100%);
    }

    100% {
        transform: scale(95%);
    }
}

@keyframes release_reset_btn {
    0% {
        transform: scale(95%);
    }

    100% {
        transform: scale(100%);
    }
}

.press_reset_btn{
    animation: press_reset_btn 0.2s ease forwards;
}

.release_reset_btn {
    animation: release_reset_btn 0.2s ease forwards;
}


.dsclmr {
    color: #ffffff;
    font-weight: lighter;
    font-size: 10px;

    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;

    white-space: nowrap;
    margin: 1%;

    position: absolute;
    bottom: 10px;  /* Adjusted for better positioning */
    left: 10px;    /* Adjusted for better positioning */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.full_dsclmr {
    color: #ffffff;
    font-weight: lighter;
    font-size: 10px;

    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;

    width: max-content;  /* Adjusted to fit content better */
    height: auto;        /* Adjusted to fit content better */
    white-space: normal; /* Allow wrapping for longer text */
    
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;  /* Smooth transition effect */
    
    position: absolute;
    bottom: 30px;  /* Adjusted for better positioning */
    left: 10px;    /* Adjusted for better positioning */
    z-index: 10;   /* Ensure it appears above other elements */
}

.dsclmr:hover .full_dsclmr {
    visibility: visible;
    opacity: 1;
}